body {
    font-family: "regulator-nova",sans-serif;
    background-color: #292f3c;
}

.jumbotron-fluid {
    background-image: url("../images/background.png");
    max-width: 100%;
    border-bottom: dashed 10px white;
}

h1 {
    font-weight: bold;
}

